<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
</head>

<body>
    <div>
        <h1>Hi Dr. Ahmed Gamal,<br>There is a new purchase from Dr. {{name}}</h1>
        <p>Dr. {{name}} has purchased the following:</p>
        <ul>
            {{#each cart}}
            <li>Product: {{title}}, quantity: {{qty}}, price: {{price}}</li>
            {{/each}}
            <li>Total: {{total}}</li>
        </ul>
        <p>Contact: {{phone}}<br>Address: {{address}}</p>
    </div>
</body>

</html>