<%- include('layouts/header')%>
<br>

<div class="row products">
    <% if (products.length) { %>
    <% let found = false; for(let i = products.length - 1; i >= 0; i--) { %>
    <% if (products[i].slug.indexOf(search) > -1) { found = true; %>
    <div class="col-xs-12 col-md-4 p">
        <a href="/products/<%= products[i].category %>/<%= products[i].slug %>" class="pa">
            <img src="/products images/<%= products[i].id %>/<%= products[i].image %>" class="pimage">
        </a>
        <h4><%= products[i].title %></h4>
        <h5><%= parseFloat(products[i].price).toFixed(2) %> EGP</h5>
        <a href="/products/<%= products[i].category %>/<%= products[i].slug %>" class="vd">View details</a><br>
        <% if (loggedIn) { %>
        <a href="/cart/add/<%= products[i].slug %>">Add to cart</a><br>
        <a href="/cart/add/<%= products[i].slug %>">+</a>&nbsp;
        <a href="/cart/remove/<%= products[i].title %>">-</a>&nbsp;
        <a href="/cart/clear/<%= products[i].title %>">Clear</a>&nbsp;
        <% } else { %>
        <p>You must be logged in to purches products.</p>
        <% } %>
    </div>
    <% } %>
    <% } %>
    <% if (!found) { %>
    <div class="col-xs-12 col-md-12">
        <h3 class="text-center np">There are no products</h3>
    </div>
    <% } %>
    <% } else { %>
    <div class="col-xs-12 col-md-12">
        <h3 class="text-center np">There are no products</h3>
    </div>
    <% } %>
</div>
<%- include('layouts/footer')%>